[Unit]
Description=Docker RBAC & ABAC Authorization Plugin based on Casbin
Before=docker.service
After=network.target container-authz-plugin.socket
Requires=container-authz-plugin.socket docker.service

[Service]
ExecStart=/usr/lib/docker/container-authz-plugin
WorkingDirectory=/usr/lib/docker

[Install]
WantedBy=multi-user.target
